body {
    background: linear-gradient(to right, #e66465, #b052ee);;
  }

a {
    text-decoration: none;
}

hr {
    width: 1000px;
    height: 10px;
    border: none;
  }

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;      
    grid-template-columns: 100px 50px auto 50px 100px;
    grid-template-rows: auto auto auto auto auto; 
}

.item{
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

.item-header{

    display: flex;
    flex-direction: row;
}

#header{
    display: flex;
    justify-content: space-between;
}

.item-nav-large{
    grid-column-start: 2 ;
    grid-column: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

.item-nav-large ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding-left: 0px;
}

.item-nav-large li{
    display: flex;
    background-color: gold; 
    max-width: 350px;
    width: 100%;
    min-height: 30px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: large;
    text-transform: uppercase;
}

.item-content-cards{
    display: flex;
    justify-content: space-between;
    gap: 10px;
 
}

.card{
    background-color: aliceblue;
    height: 200px;
    max-width: 430px;
    width: 100%;
    margin-bottom: 20px;
}

.card i{
    font-size:xx-large;
    margin-bottom: 10px;
}

.card p{
    margin-top: 0px;
    margin-bottom: 0px;
    color: darkgrey;
}

.card h3{
    margin-top: 0px;
    margin-bottom: 10px;
}

.item-content-featured{
    background-color: #F5F4F2; 
}

.item-content-featured img{
    max-width: 400px;
    width: 100%;
}

.item-content-box{  
    display: flex;
}
.item-content-box img{  
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
    width: 235px;
    height: 235px;
}

.item-content-box-div{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.item-nav-menu{
    margin-left: 50px;
    background-color: gold;
    display: none;
}

.item-content-featured-box{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
}
.item-content-featured-box-2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.item-header-box{
    background-image: url(https://picsum.photos/id/25/1400/400);
    max-width: 1250px;
    width: 100%;
    min-width: 310px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
        
}

.item-header-box-2{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-left: 30px;
    width: 500px;
        
}

.price-box{
    background-color: gold; 
    height: 190px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:992px){
    .item-content-cards{
        flex-wrap: wrap;
    }
    .card{
        width: 32%;
    }

    .item-content-box img{  
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 10px;
        margin-left: 10px;  
    }
    .item-nav-large{display: none;}

    .item-nav-menu{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 30px;
        font-size: smaller;
        font-weight: bolder;
    }


}

@media screen and (max-width: 600px){
    .card{
        width: 450%;
    }
    .item-content-box-div{
        justify-content: center;
    }
    #header{
        flex-wrap: wrap;
    }
    .item-content-featured-box{
        
        flex-direction: column;
        justify-content: center;
    }
    .item-content-featured-box-2{
        align-items: center;
    }
    .item-header-box{
        justify-content: center;
        align-items: center;
    }
    .item-header-box-2{
        margin-top: 20px;
        margin-left: 0px;
    }
    .price-box{
        margin-bottom: 20px;
    }
}